<h1>Mnú cifrado</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoBasico">Cifrado básico</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoEficiente">Cifrado eficiente</a>
    </li>
</ul>