@model List<Coche>

<h1>Coches Ajax Partial</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coche in Model)
        {
            <tr>
                <td>@coche.IdCoche</td>
                <td>@coche.Marca @coche.Modelo</td>
                <td>
                    <img src="@coche.Imagen" style="width:150px; height:100px" />
                    </td>
            </tr>
        }
    </tbody>
</table>